header{
    background-color: #303841;
    width: 100%;
    height: 80px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 400px;

}



.items-links{
    display: flex;
    justify-content: space-around;
    color: #F3F3F3;
    width: 400px;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 10px 10px;
}

ul li a{
    text-decoration: none;
    color: #F3F3F3;
    width: auto;
}



.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: #F3F3F3;
    color: #3A4750;
}

.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.home-btn .create{
    width: auto;
    height: auto;
    color: #F3F3F3;
    background-color: #303841;
}
.home-btn .join{
    width: auto;
    height: auto;
    color: #F3F3F3;
    background-color: #303841;
}

.home-btn .create:hover{
    background-color: #2185D5;
    color: #F3F3F3;
}

.home-btn .join:hover{
    background-color: #2185D5;
    color: #F3F3F3;
}



.status-team {
    border-top: 3px solid #2185D5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    width: 100%;
    background-color: #F3F3F3;
    color: #3A4750;
}

.status {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 0;
}
.members {
    min-width: 0;     
    width: 100%;
}
.team {
    display: flex;
    overflow-x: auto;
    width: 100%;
    flex-wrap: wrap;
    min-width: 0; 
}

.both {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 350px;
    min-width: 350px;

    height: 100%;
    margin-right: 10px;
}

.inp {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #303841;
    padding: 10px;
    margin: 15px 0;
}



.contact-lead{
    display: flex;
    border-top: 3px solid #2185D5;
    align-items: center;
}





.items-links-footer{
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
    width: 100%;
    align-items: start;
    height: auto;
    list-style: none;
    
   
   
}


.copyright{
    border-top:#F3F3F3 3px solid ;
    justify-content: center;
    color:  #3A4750;
    width: 100%;
    display: flex;
    align-items: center;
    
    height: 40px;

}


span a{
    text-decoration: none;
    color: #303841;
}