header{
    background-color: #303841;
    width: 100%;
    height: 80px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 400px;

}
.items-links{
    display: flex;
    justify-content: space-around;
    color: #F3F3F3;
    width: 100%;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 10px 10px;
   
   
}
ul li a{
    text-decoration: none;
    color: #F3F3F3;
}